<% if job.instance_of?(Qless::Job) %>
	<div class="hidden" id="job-json-<%= job.jid %>">
		<%= job.to_hash.to_json %>
	</div>
	<div class="row" id="job-<%= job.jid.gsub('.', '') %>">
	  <div class="col-md-12">
	    <div class="row">
	      <div class="col-md-6">

	        <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
            <h4 class="custora-job-label">
              <% if job.state == 'failed' %>
                <span class="label label-danger"><%= job.state %></span>
              <% elsif job.state == 'complete' %>
                <span class="label label-success"><%= job.state %></span>
              <% elsif job.state == 'stalled' %>
                <span class="label label-warning"><%= job.state %></span>
              <% else %>
                <span class="label label-default"><%= job.state %></span>
              <% end %>
            </h4>
	        </div>

	        <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
            <h5>
              <% if job.jid.length > 50 %>
                <a class="custora-job-id" href="<%= u "/jobs/#{job.jid}" %>"><%= job.jid[0..50] %>...</a> <%= job.klass_name %>
              <% else %>
                <a class="custora-job-id" href="<%= u "/jobs/#{job.jid}" %>"><%= job.jid %></a> <%= job.klass_name %>
              <% end %>
            </h5>
	        </div>
	      </div>
	      <div class="col-md-6 text-right">
          <div>
            <div class="btn-group custora-job-button-group">
              <% if (pt_tag = (job.tags || []).find { |tag| tag.match(/pt-(.*)/) }).nil? %>
                <button title="Create Pivotal Story" class="btn btn-info" onclick="confirmation(this, 'Create Pivotal Story?', function() { createPivotalStory('<%= job.jid %>', fade) })"><i class="glyphicon glyphicon-copy"></i></button>
              <% else %>
                <button title="View Pivotal Story" class="btn btn-info" onclick="window.open('https://www.pivotaltracker.com/story/show/<%= $1 %>', '_blank')"><i class="glyphicon glyphicon-new-window"></i></button>
              <% end %>
            </div>
	          <div class="btn-group custora-job-button-group">
	            <% if (job.state != "complete") %>
	            <button title="delete" class="btn btn-danger" onclick="confirmation(this, 'Delete?', function() { cancel('<%= job.jid %>', fade) })"><i class="glyphicon glyphicon-remove"></i></button>
	            <% end %>
	            <% if (job.state == "running") %>
	            <button title="Time out job" class="btn btn-danger" onclick="confirmation(this, 'Time out job?', function() { timeout('<%= job.jid %>') })"><i class="glyphicon glyphicon-time"></i></button>
	            <% end %>
	            <button title="track" class="btn btn-default <%= job.tracked ? " active" : "" %>" data-toggle="button" onclick="$(this).hasClass('active') ? untrack('<%= job.jid %>', fade) : track('<%= job.jid %>', [], fade)"><i class="glyphicon glyphicon-flag"></i></button>
	            <% if (job.state == 'failed') %>
	            <button title="requeue" class="btn btn-success" onclick="retry('<%= job.jid %>', fade)"><i class="glyphicon glyphicon-repeat"></i></button>
	            <% end %>
              <button title="move" type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown" aria-expanded="true">
                <i class="caret"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <% queues.each do |queue| %>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="move('<%= job.jid %>', '<%= queue['name'] %>', fade)"><%= queue['name'] %></a></li>
                <% end %>
              </ul>
	          </div>
	        </div>
          <div style="margin-top: 7px;" class="text-right custora-job-priority">
            <input style="padding: 1px 12px; width: 100px; line-height: 30px; margin-right: -5px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border: 1px solid #ccc;" class="priority" type="text" placeholder="Pri <%= job.priority %>" onchange="priority('<%= job.jid %>', $(this).val())"></input>
            <button class="btn btn-default dropdown-toggle" style="margin-top: -2px; border-top-left-radius: 0; border-bottom-left-radius: 0;" type="button" data-toggle="dropdown" aria-expanded="true">
              <i class="caret"></i>
            </button>
            <ul class="dropdown-menu text-right" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="priority('<%= job.jid %>',  25)">high</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="priority('<%= job.jid %>',  0 )">normal</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="priority('<%= job.jid %>', -25)">low</a></li>
            </ul>
          </div>
	      </div>
	    </div>

	    <% if not job.dependencies.empty? %>
	    <div class="row">
	      <div class="col-md-12" style="margin-bottom: 10px">
	        <div style="float:left; margin-right: 10px"><h3 class="depends-header">Dependencies (<%= job.dependencies.count %>):</h3></div>
					<% job.dependencies.each do |jid| %>
	        <div class="btn-group" style="float:left; margin-right: 10px" id="<%= sanitize_attr("#{job.jid}-dependson-#{jid}") %>">
	          <button class="btn btn-default" onclick="window.open('<%= u "/jobs/#{jid}" %>', '_blank')"><%= jid[0...8] %>...</button>
	          <button class="btn btn-default dropdown-toggle" onclick="confirmation(this, 'Undepend?', function() { undepend('<%= job.jid %>', '<%= jid %>', function() { $('#<%= sanitize_attr("#{job.jid}-dependson-#{jid}") %>').remove()} ); })">
	            <i class="glyphicon glyphicon-remove"></i>
	          </button>
	        </div>
					<% end %>
	      </div>
	    </div>
	    <% end %>

	    <% if not job.dependents.empty? %>
	    <div class="row">
	      <div class="col-md-12" style="margin-bottom: 10px">
	        <div style="float:left; margin-right: 10px">
						<h3 class="depends-header">Dependents (<%= job.dependents.count %>):</h3>
					</div>
					<% job.dependents.each do |jid| %>
	        <div class="btn-group" id="<%= sanitize_attr("#{job.jid}-dependents-#{jid}") %>">
	          <button class="btn btn-default" onclick="window.open('<%= u "/jobs/#{jid}" %>', '_blank')"><%= jid[0...8] %>...</button>
	          <button class="btn btn-default dropdown-toggle" onclick="confirmation(this, 'Undepend?', function() { undepend('<%= jid %>', '<%= job.jid %>', function() { $('#<%= sanitize_attr("#{job.jid}-dependents-#{jid}") %>').remove()} ); })">
	            <i class="glyphicon glyphicon-remove"></i>
	          </button>
	        </div>
	        <% end %>
	      </div>
	    </div>
	    <% end %>

	    <div class="row">
	      <div class="col-md-12 tags" style="margin-bottom: 3px;">
	        <% job.tags.each do |tag| %>
	        <div class="btn-group custora-job-tags" style="float:left; margin-right: 10px;">
            <span class="tag" style="line-height: 24px;"><a href="<%= u "/tag/?tag=#{tag}" %>"><%= tag %></a></span>
				    <button class="btn btn-default" onclick="untag('<%= job.jid %>', '<%= tag %>')">
	            <i class="glyphicon glyphicon-remove"></i>
	          </button>
	        </div>
					<ul class="custora-job-tag-list">
						<li>
							<a href="<%= u "/tag/?tag=#{tag}" %>"><%= tag %></a>
							<span onclick="untag('<%= job.jid %>', '<%= tag %>')"><i class="glyphicon glyphicon-remove"></i></span><%= %>
						</li>
					</ul>
	        <% end %>

	        <!-- One for adding new tags -->
	        <div class="btn-group add-tag" style="float:left">

            <input style="padding: 1px 12px; width: 200px; line-height: 30px; margin-right: -5px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border: 1px solid #ccc;" class="priority" type="text" placeholder="Add tag" onchange="var v = $(this).val(); if (v.length > 0) { tag('<%= job.jid %>', v) }"></input>
				    <button class="btn btn-default" onclick="tag('<%= job.jid %>', $(this).parent().siblings().val())">
	            <i class="glyphicon glyphicon-plus"></i>
	          </button>
	        </div>
	      </div>
	    </div>

	    <% if not defined? brief %>
	    <div class="row">
	      <div class="col-md-6">
          <h3><small>Data</small></h3>
					<pre style="overflow-y:scroll; height: 400px"><%= JSON.pretty_generate(job.data) %></pre>
	      </div>
	      <div class="col-md-6">
	        <h3><small>Context</small></h3>
					<% if job.data["context"] && job.data["context"].is_a?(Array) %>
						<pre><%= job.data["context"].last %></pre>
					<% end %>
	        <h3><small>History</small></h3>
	        <div style="overflow-y:scroll; height: 400px">
	          <% job.queue_history.reverse.each do |h| %>
	          <% if h['what'] == 'put' %>
	          	<pre><strong><%= h['what'] %></strong> at <%= strftime(h['when']) %>
    in queue <strong><%= h['q'] %></strong></pre>
	          <% elsif h['what'] == 'popped' %>
	          	<pre><strong><%= h['what'] %></strong> at <%= strftime(h['when']) %>
    by <strong><%= h['worker'] %></strong></pre>
	          <% elsif h['what'] == 'done' %>
	          	<pre><strong>completed</strong> at <%= strftime(h['when']) %></pre>
	          <% elsif h['what'] == 'failed' %>
	          	<% if h['worker'] %>
	          	  <pre><strong><%= h['what'] %></strong> at <%= strftime(h['when']) %>
    by <strong><%= h['worker'] %></strong>
    in group <strong><%= h['group'] %></strong></pre>
	          	<% else %>
	          	  <pre><strong><%= h['what'] %></strong> at <%= strftime(h['when']) %>
    in group <strong><%= h['group'] %></strong></pre>
	          	<% end %>
	          <% else %>
	          	<pre><strong><%= h['what'] %></strong> at <%= strftime(h['when']) %></pre>
	          <% end %>
	          <% end %>
	        </div>
	      </div>
	    </div>
	    <% end %>

	    <% if job.failure.length > 0 %>
	    <div class="row">
	      <div class="col-md-12">
	        <div class="alert alert-danger">
	          <p style="padding: 0px 0px 12px 0px;">In <strong><%= job.queue_name %></strong> on <strong><%= job.failure['worker'] %></strong>
	            about <%= strftime(Time.at(job.failure['when'])) %></p>
	          <pre class="custora-job-failure"><%= job.failure['message'].gsub('>', '&gt;').gsub('<', '&lt;') %></pre>
	        </div>
	      </div>
	    </div>
	    <% end %>
	    <hr/>
	  </div>
	</div>
<% else # Recurring job %>
	<div class="row" id="job-<%= job.jid %>">
	  <div class="col-md-12">
	    <div class="row">
	      <div class="col-md-6">
	        <h2 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
	          <a href="<%= u "/jobs/#{job.jid}" %>"><%= job.jid[0..8] %>...</a> | <%= job.klass_name %>
	        </h2>
	      </div>
	      <div class="col-md-3">
	        <h2 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
	          <strong>
	            | recurring / <a href="<%= u "/queues/#{CGI::escape(job.queue_name)}" %>"><%= job.queue_name %></a>
	          </strong>
	        </h2>
	      </div>
	      <div class="col-md-3">
	        <div style="float:right; margin-top: 4px">
	          <div class="btn-group">
	            <button title="delete" class="btn btn-danger" onclick="confirmation(this, 'Delete?', function() { cancel('<%= job.jid %>', fade) })"><i class="glyphicon glyphicon-remove"></i></button>
	            <button title="move" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
	              <i class="caret"></i>
	            </button>
	            <ul class="dropdown-menu">
	              <% queues.each do |queue| %>
	              <a href="#" onclick="move('<%= job.jid %>', '<%= queue['name'] %>', fade)"><%= queue['name'] %></a>
	              <% end %>
	            </ul>
	          </div>
	        </div>
	        <div style="float:right; margin-right: 12px; margin-top: 4px">
	          <div class="btn-group">
	            <input class="col-md-1 priority" type="text" placeholder="Pri <%= job.priority %>" onchange="priority('<%= job.jid %>', $(this).val())"></input>
      				<button class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="caret"></i>
              </button>
	            <ul class="dropdown-menu">
				    	  <a href="#" onclick="priority('<%= job.jid %>',  25)">high</a>
	              <a href="#" onclick="priority('<%= job.jid %>',  0 )">normal</a>
	              <a href="#" onclick="priority('<%= job.jid %>', -25)">low</a>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="row">
	      <div class="col-md-12 tags" style="margin-bottom: 3px;">
	        <% job.tags.each do |tag| %>
	        <div class="btn-group" style="float:left">
	          <span class="tag"><%= tag %></span>
				    <button class="btn btn-default" onclick="untag('<%= job.jid %>', '<%= tag %>')">
	            <i class="glyphicon glyphicon-remove"></i>
	          </button>
	        </div>
	        <% end %>

	        <!-- One for adding new tags -->
	        <div class="btn-group" style="float:left">
	          <input class="col-md-1 add-tag" type="text" placeholder="Add Tag" onchange="tag('<%= job.jid %>', $(this).val())"></input>
				    <button class="btn btn-default" onclick="tag('<%= job.jid %>', $(this).parent().siblings().val())">
	            <i class="glyphicon glyphicon-plus"></i>
	          </button>
	        </div>
	      </div>
	    </div>

	    <% if not defined? brief %>
	    <div class="row">
	      <div class="col-md-12">
	        <h3><small>Data</small></h3>
	        <pre style="overflow-y:scroll; height: 200px"><%= JSON.pretty_generate(job.data) %></pre>
	      </div>
	    </div>
	    <% end %>
	    <hr/>
	  </div>
	</div>
<% end %>
