<% if queues.empty? %>
  <div class="page-header">
    <h1>No Queues</h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Queues</h1>
  </div>

  <table class="table">
    <thead>
      <tr class="custora-row-headers">
        <th></th>
        <th>running</th>
        <th>waiting</th>
        <th>scheduled</th>
        <th>stalled</th>
        <th>depends</th>
        <th>recurring</th>
      </tr>
    </thead>
    <tbody>
    <% queues.each do |queue| %>
    <tr class="queue-row">
      <td class="queue-column large-text">
        <% if queue['paused'] %>
          <button
            id="<%= queue['name'] %>-pause"
            title="Unpause"
            class="btn btn-success"
            onclick="unpause('<%= queue['name'] %>')"><i class="glyphicon glyphicon-play"></i>
          </button>
        <% else %>
          <button
            id="<%= queue['name'] %>-pause"
            title="Pause"
            class="btn btn-warning"
            onclick="pause('<%= queue['name'] %>')"><i class="glyphicon glyphicon-pause"></i>
          </button>
        <% end %>
        <a href="<%= u "/queues/#{CGI::escape(queue['name'])}" %>"><%= queue['name'] %></a>
      </td>
      <td class="custora-std-queue-counts"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/running" %>"><%= number_with_delimiter(queue['running']) %></a></td>
      <td class="custora-std-queue-counts"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/waiting" %>"><%= number_with_delimiter(queue['waiting']) %></a></td>
      <td class="custora-std-queue-counts"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/scheduled" %>"><%= number_with_delimiter(queue['scheduled']) %></a></td>
      <td class="custora-std-queue-counts"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/stalled" %>"><%= number_with_delimiter(queue['stalled']) %></a></td>
      <td class="custora-std-queue-counts"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/depends" %>"><%= number_with_delimiter(queue['depends']) %></a></td>
      <td class="custora-std-queue-counts"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/recurring" %>"><%= number_with_delimiter(queue['recurring']) %></a></td>
      <tr class="custora-mobile-queue-counts"><td>
        <ul>
          <li><div class="custora-label">Running</div><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/running" %>"><%= number_with_delimiter(queue['running']) %></a></li>
          <li><div class="custora-label">Waiting</div><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/waiting" %>"><%= number_with_delimiter(queue['waiting']) %></a></li>
          <li><div class="custora-label">Scheduled</div><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/scheduled" %>"><%= number_with_delimiter(queue['scheduled']) %></a></li>
          <li><div class="custora-label">Stalled</div><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/stalled" %>"><%= number_with_delimiter(queue['stalled']) %></a></li>
          <li><div class="custora-label">Depends</div><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/depends" %>"><%= number_with_delimiter(queue['depends']) %></a></li>
          <li><div class="custora-label">Recurring</div><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/recurring" %>"><%= number_with_delimiter(queue['recurring']) %></a></li>
        </ul>
      </td></tr>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<% failed_jobs = failed_jobs_by_type(tagged: /^pt-/) %>
<% failed_not_in_pt = failed_jobs[:not_tagged] %>
<% failed_in_pt = failed_jobs[:tagged] %>

<% if failed_not_in_pt.any? %>
  <div class="page-header">
    <h1>Failed Jobs <small>Not in Pivotal</small></h1>
  </div>

  <table class="table">
    <thead class="failure-headers">
      <tr>
        <th>failure</th>
        <th>count</th>
      </tr>
    </thead>
    <tbody>
    <% failed_not_in_pt.sort_by { |t, jobs| -jobs.count }.each do |t, jobs| %>
    <tr class="failed-row">
      <td class="large-text"><a href="<%= u "/failed/#{t}" %>"><%= t %></a></td>
      <td class="failed-count"><a href="<%= u "/failed/#{t}" %>"><%= number_with_delimiter(jobs.count) %></a></td>
    </tr>
    <tr class="failed-row-mobile">
      <td class="failed-count"><a href="<%= u "/failed/#{t}" %>"><%= number_with_delimiter(jobs.count) %></a></td>
      <td class="large-text"><a href="<%= u "/failed/#{t}" %>"><%= t %></a></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if failed_in_pt.any? %>
  <div class="page-header">
    <h1>Failed Jobs <small>In Pivotal</small></h1>
  </div>

  <table class="table">
    <thead class="failure-headers">
      <tr>
        <th>failure</th>
        <th>count</th>
      </tr>
    </thead>
    <tbody>
    <% failed_in_pt.sort_by { |t, jobs| -jobs.count }.each do |t, jobs| %>
    <tr class="failed-row">
      <td class="large-text"><a href="<%= u "/failed/#{t}" %>"><%= t %></a></td>
      <td class="failed-count"><a href="<%= u "/failed/#{t}" %>"><%= number_with_delimiter(jobs.count) %></a></td>
    </tr>
    <tr class="failed-row-mobile">
      <td class="failed-count"><a href="<%= u "/failed/#{t}" %>"><%= number_with_delimiter(jobs.count) %></a></td>
      <td class="large-text"><a href="<%= u "/failed/#{t}" %>"><%= t %></a></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if tracked['jobs'].any? %>
  <div class="page-header">
    <h1>Tracked Jobs</h1>
  </div>
  <% counts = Hash.new; tracked['jobs'].each { |job| counts[job.state] ||= 0; counts[job.state] += 1 } %>
  <table class="table tracked-table">
    <thead>
      <tr>
        <th>state</th>
        <th>count</th>
      </tr>
    </thead>
    <tbody>
    <% counts.sort_by { |state, count| - count }.each do |state, count| %>
    <tr class="tracked-row">
      <td class="large-text"><a href="<%= u "/track##{state}" %>"><%= state %></a></td>
      <td><%= number_with_delimiter(count) %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
