<% if queues.empty? %>
  <div class="page-header">
    <h1>No Queues <small>I wish I had some queues :-/</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Queues <small>And their job counts</small></h1>
  </div>

  <% queues.each do |queue| %>
  <div class="row">
    <div class="col-md-4">
      <h3>
        <% if queue['paused'] %>
          <button
            id="<%= queue['name'] %>-pause"
            title="Unpause"
            class="btn btn-success"
            onclick="unpause('<%= queue['name'] %>')"><i class="glyphicon glyphicon-play"></i>
          </button>
        <% else %>
          <button
            id="<%= queue['name'] %>-pause"
            title="Pause"
            class="btn btn-warning"
            onclick="pause('<%= queue['name'] %>')"><i class="glyphicon glyphicon-pause"></i>
          </button>
        <% end %>
        <a href="<%= u "/queues/#{CGI::escape(queue['name'])}" %>"><%= queue['name'] %></a>
      </h3>
    </div>
    <div class="col-md-8">
      <table>
        <tr>
          <td style="padding: 10px 10px 5px 10px; text-align: center;"><span class="label label-success">running</span></td>
          <td style="padding: 10px 10px 5px 10px; text-align: center;"><span class="label label-warning">waiting</span></td>
          <td style="padding: 10px 10px 5px 10px; text-align: center;"><span class="label label-default">scheduled</span></td>
          <td style="padding: 10px 10px 5px 10px; text-align: center;"><span class="label label-danger">stalled</span></td>
          <td style="padding: 10px 10px 5px 10px; text-align: center;"><span class="label label-primary">depends</span></td>
        </tr>
        <tr>
          <td style="padding: 0px 10px; text-align: center;"><%= number_with_delimiter(queue['running']) %></td>
          <td style="padding: 0px 10px; text-align: center;"><%= number_with_delimiter(queue['waiting']) %></td>
          <td style="padding: 0px 10px; text-align: center;"><%= number_with_delimiter(queue['scheduled']) %></td>
          <td style="padding: 0px 10px; text-align: center;"><%= number_with_delimiter(queue['stalled']) %></td>
          <td style="padding: 0px 10px; text-align: center;"><%= number_with_delimiter(queue['depends']) %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
<% end %>
