<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawCharts);

  function drawCharts() {
    drawChart(<%= JSON.generate(stats['wait']['histogram']) %>, 'wait-chart', 'Jobs / Minute');
    drawChart(<%= JSON.generate(stats['run' ]['histogram']) %>, 'run-chart' , 'Jobs / Minute');
  }

  function drawChart(d, id, title) {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', title);

    var _data = [];
    for (var i = 0; i < 60; ++i) {
      _data.push([i + ' seconds', d[i] * 60]);
    }
    for (var i = 1; i < 60; ++i) {
      _data.push([i + ' minutes', d[59 + i]]);
    }
    for (var i = 1; i < 24; ++i) {
      _data.push([i + ' hours', d[118 + i] / 60]);
    }
    for (var i = 1; i < 7; ++i) {
      _data.push([i + ' days', d[141 + i] / 1440]);
    }
    data.addRows(_data);

    var options = {
      legend: {position: 'none'},
      chartArea: { width:"80%", height:"80%" }
    };

    var chart = new google.visualization.SteppedAreaChart(document.getElementById(id));
    chart.draw(data, options);
  }
</script>

<div class="subnav subnav-fixed">
  <ul class="nav nav-pills">
    <li class="<%= tab == 'stats'     ? 'active' : '' %>"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/stats" %>">Stats</a></li>
    <li class="<%= tab == 'running'   ? 'active' : '' %>"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/running" %>">Running (<%= queue['running'] %>)</a></li>
    <li class="<%= tab == 'waiting'   ? 'active' : '' %>"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/waiting" %>">Waiting (<%= queue['waiting'] %>)</a></li>
    <li class="<%= tab == 'scheduled' ? 'active' : '' %>"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/scheduled" %>">Scheduled (<%= queue['scheduled'] %>)</a></li>
    <li class="<%= tab == 'stalled'   ? 'active' : '' %>"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/stalled" %>">Stalled (<%= queue['stalled'] %>)</a></li>
    <li class="<%= tab == 'depends'   ? 'active' : '' %>"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/depends" %>">Depends (<%= queue['depends'] %>)</a></li>
    <li class="<%= tab == 'recurring' ? 'active' : '' %>"><a href="<%= u "/queues/#{CGI::escape(queue['name'])}/recurring" %>">Recurring (<%= queue['recurring'] %>)</a></li>
  </ul>
</div>

<div class="row">
  <div class="col-md-8">
    <h2><a href="<%= u "/queues/#{CGI::escape(queue['name'])}" %>"><%= queue['name'] %></a>
    </h2>
  </div>

  <div class="col-md-4">
    <div style="float:right">
    </div>
  </div>
</div>

<% if ['running', 'waiting', 'scheduled', 'stalled', 'depends', 'recurring'].include?(tab) %>
  <hr/>
  <% if jobs.any? %>
    <%= erb :_job_list, :locals => { :jobs => jobs.fetch('jobs'), :page_count => jobs.fetch('page_count'), :queues => queues } %>
  <% end %>
<% else %>
  <div class="row" style="margin-top: 15px">
    <div class="col-md-6">
      <div class="well">
        <div class="row">
          <div class="col-md-12">
            <h3>Waiting</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>
              total: <%= stats['wait']['count'] %>,
              mean: <%= sprintf('%10.3f', stats['wait']['mean']) %>, 
              stddev: <%= sprintf('%10.3f', stats['wait']['std']) %>
            </h3>
          </div>
        </div>
        <div id="wait-chart" class="queue-stats-time-histogram-wait" style="height: 500px"></div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="well">
        <div class="row">
          <div class="col-md-12">
            <h3>Running</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>
              total: <%= stats['run']['count'] %>,
              mean: <%= sprintf('%10.3f', stats['run']['mean']) %>,
              stddev: <%= sprintf('%10.3f', stats['run']['std']) %>
            </h3>
          </div>
        </div>

        <div id="run-chart"  class="queue-stats-time-histogram-run"  style="height: 500px"></div>
      </div>
    </div>
  </div>
<% end %>
