<% statuses = %w{ running waiting scheduled stalled depends failed complete } %>

<div class="page-header">
  <h2>Jobs tagged '<%= tag %>'</h2>
  <div id="tag-filters">
    <form class="form-inline">
      <div class="form-group">
        <% statuses.each do |status| %>
          <div class="checkbox" style="margin-right: 10px;">
            <label>
            <input type="checkbox" id="<%= status %>" value="<%= status %>">
            <%= status.capitalize %>
            </label>
          </div>
        <% end %>

        <div class="btn-group" role="group">
          <button class="form-control btn btn-primary" type="button" onclick="updateFilters()">Filter</button>
          <button class="form-control btn btn-success" type="button" onclick="showIncomplete()">Show Incomplete</button>
        </div>
        <button class="form-control btn btn-danger" type="button" onclick="clearFilters()">Clear</button>
      </form>
    </form>
  </div>
</form>
</div>

<%= erb :_job_list, :locals => { :jobs => jobs, :page_count => page_count, :queues => queues } %>

<script type="text/javascript">
  function updateFilters() {
    var checkboxes = document.querySelectorAll("#tag-filters input[type='checkbox']");
    var statuses = [];

    for (var i = 0; i < checkboxes.length; i++) {
      var checkbox = checkboxes[i];
      if (checkbox.checked) {
        statuses.push(checkbox.value);
      }
    }

    var query = location.search;
    var match = query.match(/([&\?]status=(.*))&?/);

    if (match == null) {
      location.search += "&status=" + encodeURIComponent(statuses.join(","));
    } else {
      if (statuses.length == 0) {
        query = query.replace(match[1], "");
      } else {
        query = query.replace(match[1], "&status=" + encodeURIComponent(statuses.join(",")));
      }

      location.search = query;
    }
  }

  function showIncomplete() {
    var checkboxes = document.querySelectorAll("#tag-filters input[type='checkbox']");

    for (var i = 0; i < checkboxes.length; i++) {
      var checkbox = checkboxes[i];
      checkbox.checked = (checkbox.id != "complete");
    }
    updateFilters();
  }

  function clearFilters() {
    var checkboxes = document.querySelectorAll("#tag-filters input[type='checkbox']");

    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = false;
    }

    updateFilters();
  }

  function setFilters() {
    var query = location.search;
    var match = query.match(/([&\?]status=(.*))&?/);

    if (match != null) {
      statuses = decodeURIComponent(match[2]).split(",");

      for (var i = 0; i < statuses.length; i++) {
        var checkbox = document.getElementById(statuses[i]);
        checkbox.checked = true;
      }
    }
  }

  setFilters();
</script>
